<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un Client - Boulangerie</title>
    <th:block th:each="cssLink : ${cssLinks}">
        <link rel="stylesheet" th:href="@{${cssLink}}" />
    </th:block>
</head>

<body>
    <div th:fragment="content">
        <main class="container mt-5">
            <!-- Formulaire d'ajout d'un client -->
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5>Ajouter Client</h5>
                </div>
                <div class="card-body">
                    <form id="clientForm">
                        <div class="form-group">
                            <label for="clientName">Nom du Client</label>
                            <input type="text" class="form-control" id="clientName" placeholder="Nom du client" required>
                        </div>

                        <button type="button" class="btn btn-success" id="addClient">Ajouter Client</button>
                        <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <th:block th:each="jsLink : ${jsLinks}">
        <script th:src="@{${jsLink}}"></script>
    </th:block>

</body>

</html>