<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Produits </title>
  
    <th:block th:each="cssLink : ${cssLinks}">
        <link rel="stylesheet" th:href="@{${cssLink}}" />
    </th:block>

</head>

<body>
    <div th:fragment="content">
        <header class="bg-dark text-white text-center py-3">
            <h1>Gestion des Produits </h1>
            <a href="/ajout-produit" class="btn btn-secondary" style="text-decoration: none;">Ajouter produit</a>
        </header>
        <br>
        <main class="container mt-5">           

            <!-- Recherche et filtre pour les produits -->
            <div class="card mb-4">
                <div class="card-header bg-light">
                    <h5>Filtres et Recherche Produits</h5>
                </div>
                <div class="card-body">
                    <form id="searchForm">
                        <div class="form-row">
                            <div class="form-group col-md-4" style="display: inline-block;">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom du produit" name="nom">
                            </div>
                            <div class="form-group col-md-4" style="display: inline-block;">
                                <label for="minPrice">Prix Min</label>
                                <input type="number" class="form-control" id="minPrice" placeholder="Prix minimum" name="prixMin">
                            </div>
                            <div class="form-group col-md-4" style="display: inline-block;">
                                <label for="maxPrice">Prix Max</label>
                                <input type="number" class="form-control" id="maxPrice" placeholder="Prix maximum" name="prixMax">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Categorie</label>
                                <br>
                                <div th:each="cat : ${categorie}" style="display: inline-block;">
                                    <label>
                                        <input type="checkbox" th:value="${cat.id}" name="idCategorie"/> 
                                        <span th:text="${cat.nom}">Nom de la categorie</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="searchBtn">Rechercher</button>
                        <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Liste des produits -->
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5>Liste des Produits</h5>
                </div>
                    <table class="table table-striped table-hover" id="productsTable">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Catégorie</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Les produits seront insérés dynamiquement ici -->
                            <tr th:each="produits : ${produit}" th:id="'produit-' + ${produits.id}">
                                <td th:text="${produits.nom}"></td>
                                <td th:text="${produits.prixUnitaire}">0</td>
                                <td th:text="${produits.categorie.nom}"></td>
                                <td>
                                    <button class="btn btn-warning btn-sm" th:onclick="'editProduct(' + ${produits.id} + ')'" >Modifier</button>
                                    <button class="btn btn-danger btn-sm" th:onclick="'deleteProduct(' + ${produits.id} + ')'" >Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <!-- Section des Produits Conseils du Mois -->
        </main>

        <th:block th:each="jsLink : ${jsLinks}">
            <script th:src="@{${jsLink}}"></script>
        </th:block>

    </div>

</body>

</html>