<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Recettes</title>

    <th:block th:each="cssLink : ${cssLinks}">
        <link rel="stylesheet" th:href="@{${cssLink}}" />
    </th:block>
 
</head>

<body>
    <div th:fragment="content">
        <header class="bg-dark text-white text-center py-3">
            <h1>Gestion des Recettes</h1>
        </header>
        <main class="container mt-5">
            

            <!-- Liste des recettes -->
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5>Liste des Recettes</h5>
                </div>
                    <table class="table table-striped" id="recipeTable">
                        <thead class="thead-dark">
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <h3 th:if="${recettes.isEmpty() || recettes == null}">Pas encore de recettes</h3>
                            <tr th:each="recette : ${recettes}" th:id="'recette-' + ${recette.id}" th:if="${!recettes.isEmpty() && recettes != null}">
                                <td th:text="${recette.produit.nom}"></td>
                                <td>1</td>
                                <td><button class="btn btn-warning" th:onclick="'editRecipe(' + ${recette.id} + ')'">Modifier</button></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </main>

        <th:block th:each="jsLink : ${jsLinks}">
            <script th:src="@{${jsLink}}"></script>
        </th:block>
    
    </div>
</body>

</html>