<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boulangerie - Layout</title>

    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">

    <th:block th:each="cssLink : ${cssLinks}">
        <link rel="stylesheet" th:href="@{${cssLink}}" />
    </th:block>

</head>

<body>
    <div class="sidebar" style="overflow-y: scroll;scrollbar-width:none;">
        <div class="logo">
            <img th:src="@{/img/logo-boulangerie.jpeg}" alt="Logo">
            <h1>Boulangerie</h1>
        </div>

        <h3 class="menu-title">Navigation Principale</h3>
        <div class="menu-item">
            <a th:href="@{/dashboard}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </div>

        <h3 class="menu-title">Gestion des Produits</h3>
        <div class="menu-item">
            <a th:href="@{/produit}"><i class="fas fa-cogs"></i> Produit</a>
        </div>

        <h3 class="menu-title">Gestion de la Production</h3>
        <div class="menu-item">
            <a th:href="@{/production}"><i class="fas fa-industry"></i> Production</a>
            <a th:href="@{/ingredient}"><i class="fas fa-lemon"></i> Ingredient</a>
            <a th:href="@{/recette}"><i class="fas fa-utensils"></i> Recette</a>
        </div>

        <h3 class="menu-title">Ventes</h3>
        <div class="menu-item">
            <a th:href="@{/vente}"><i class="fas fa-shopping-cart"></i> Ventes</a>
        </div>
        <div class="menu-item">
            <a th:href="@{/client}"><i class="fas fa-shopping-cart"></i> Client</a>
        </div>

        <h3 class="menu-title">Stocks</h3>
        <div class="menu-item">
            <a th:href="@{/approvisionnement}"><i class="fas fa-box"></i> Stocks</a>
            <a th:href="@{/fournisseur}"><i class="fas fa-truck"></i> Fournisseur</a>
        </div>
        <h3 class="menu-title">Autres</h3>
        <div class="menu-item">
            <a th:href="@{/deconnexion}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
        <br>
    </div>

    <div class="main-content">
        <div th:replace="~{${body} :: content}"></div>
    </div>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>

    <th:block th:each="jsLink : ${jsLinks}">
        <script th:src="@{${jsLink}}"></script>
    </th:block>

</body>

</html>