<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Commande</title>
    
    <th:block th:each="cssLink : ${cssLinks}">
        <link rel="stylesheet" th:href="@{${cssLink}}" />
    </th:block>

</head>

<body>
    <div th:fragment="content">
        <header class="bg-dark text-white text-center py-3">
            <h1>Détails de la Commande</h1>
        </header>

        <main class="container mt-5">
            <!-- Détails de la facture -->
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5>Détails de la Commande</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Caisse</th>
                                <th>Numéro Facture</th>
                                <th>Produit + Suppléments</th>
                                <th>Quantité</th>
                                <th>Prix Unitaire</th>
                                <th>Prix Total</th>
                                <th>Status</th> <!-- annuler -->
                            </tr>
                        </thead>
                        <tbody id="orderDetails">
                            <!-- Les détails des commandes seront insérés ici 
                            Avec montant payer 
                            -->
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success" id="">Payer</button>
                    <button class="btn btn-secondary mt-3" id="backButton">Retour</button>
                </div>
            </div>
        </main>

        <script>
            // Ajoutez un événement sur le bouton "Retour"
            document.getElementById('backButton').addEventListener('click', function () {
                // Redirige vers vente.html
                window.location.href = 'vente.html';
            });
        </script>

        <th:block th:each="jsLink : ${jsLinks}">
            <script th:src="@{${jsLink}}"></script>
        </th:block>

    </div>
</body>

</html>