<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de la Production</title>

    <th:block th:each="cssLink : ${cssLinks}">
        <link rel="stylesheet" th:href="@{${cssLink}}" />
    </th:block>

</head>

<body>
    <div th:fragment="content">
        <!-- Header -->
        <header class="bg-dark text-white text-center py-3">
            <h1>Gestion de la Production</h1>
            <a href="/ajout-production" class="btn btn-secondary" style="text-decoration: none;">Ajouter Production</a>
        </header>
        <br>
        <main class="container mt-5">

            <!-- Recherche multicritère et filtre -->
            <div class="card mb-4">
                <div class="card-header bg-info text-white">
                    <h5>Recherche et Filtres</h5>
                </div>
                <div class="card-body">
                    <form id="searchForm">
                        <div class="form-row">
                            <div class="form-group col-md-6" style="display: inline-block;">
                                <label for="searchProduct">Nom du Produit</label>
                                <input type="text" class="form-control" id="searchProduct" placeholder="Rechercher par produit">
                            </div>
                            <div class="form-group col-md-6" style="display: inline;">
                                <label for="productionDate">Date de Production</label>
                                <input type="date" class="form-control" id="productionDate" name="productionDate">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Ingredient</label>
                                <br>
                                <div th:each="ingr : ${ingredient}" style="display: inline-block;">
                                    <label>
                                        <input type="checkbox" th:value="${ingr.id}" name="idIngredient"/> 
                                        <span th:text="${ingr.nom}">Nom de la categorie</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info" id="searchBtn">Rechercher</button>
                        <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                    </form>
                </div>
                
            </div>
            <br>
            <!-- Liste des productions -->
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5>Liste des Productions</h5>
                </div>
                <h3 th:if="${productions.isEmpty() || productions == null}">Pas encore de production</h3>
                    <table class="table table-striped table-hover" id="productionTable" th:if="${!productions.isEmpty() && productions != null}">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nom du Produit</th>
                                <th>Quantité</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="production : ${productions}">
                                <td th:text="${production.produit.nom}"></td>
                                <td th:text="${production.quantite}"></td>
                                <td th:text="${production.productions.dateProduction}"></td>
                                <td>
                                    <button class="btn btn-warning btn-sm" th:onclick="'editIngredient(' + ${production.productions.id} + ')'">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </main>

        <th:block th:each="jsLink : ${jsLinks}">
            <script th:src="@{${jsLink}}"></script>
        </th:block>

    </div>

</body>

</html>